<div class="new-order container py-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <h3 class= "mb-4">Noch ein letzter Schritt...</h3>
      <div class="bg-white rounded p-3 mt-3 mb-3">
        <%= simple_form_for @order do |f| %>
          <%= f.input :subscription, as: :hidden, input_html: { value: @subscription } %>
          <h4>Klassische Zahlweise</h4>
          <h5>Nennen Sie uns Ihre Kontaktinformationen</h5>
          <br>

          <pre> 
          <%= @order.payment_type.to_json %>
          </pre>
          <%= f.simple_fields_for :payment_type do |p| %>
            <%= p.input :payment_type, as: :radio_buttons, boolean_style: :inline, collection: [['Kreditkarte', :credit_card], ['Lastschrift', :lastschrift]], input_html: { onchange: "payment_type_click_handler(event)" }  %>

            <div id="ec_card_input_group" class="<%= @order.payment_type.payment_type != 'lastschrift' ? "invisible" : "" %>">
              <%= p.input :name, label: "Name Kontoinhaber" %>
              <%= p.input :IBAN, label: "IBAN" %>
              <%= p.input :BIC, label: "BIC" %>
            </div>
            <div id="cc_card_input_group" class="<%= @order.payment_type.payment_type != 'credit_card' ? "invisible" : "" %>">
              <%= p.input :name, label: "Karteninhaber" %>
              <%= p.input :card_number, label: "Kartennummer" %>
              <%= p.input :cvc, label: "Kartenprüfnummer (3-stellig oder 4-stellig" %>
              <%= p.input :expiry_date, label: "Gültig bis" %>
            </div>
          <% end %>
          
          <br>
          <hr>
          <br>
          <%= f.simple_fields_for :invoice_address do |i| %>
            <%= i.input :first_name, label: "Vorname" %>
            <%= i.input :last_name, label: "Nachname" %>
            <%= i.input :street, label: "Straße und Hausnr." %>
            <%= i.input :zip_code, label: "Postleitzahl" %>
            <%= i.input :city, label: "Ort" %>
            <%= i.input :country, label: "Land" %>
            <%= i.input :email, label: "E-Mail-Adresse für Rechnung und Vertrag", input_html: { value: current_user.email } %>
          <% end %>

          

          <%= f.button :button, "Jetzt kaufen", class: "btn btn-primary mt-3 mb-3 p-2 align-center" %>
        <% end %>
        <h3>Bestellungszusammenfassung:</h3>
        <button>Heute fällig: <%= @order.subscription.price %>  </button>
      </div>
    </div>
  </div>
</div>
<script>
function payment_type_click_handler(e) {
  if (e.target.value == "credit_card") {
    document.getElementById("cc_card_input_group").classList.toggle("invisible");
    if (areLastchriftFieldsVisible()){
      document.getElementById("ec_card_input_group").classList.toggle("invisible");
    }
  } else  {
    document.getElementById("ec_card_input_group").classList.toggle("invisible");
    if (areCreditCardFieldsVisible()){
      document.getElementById("cc_card_input_group").classList.toggle("invisible");
    }
  }
}

function areCreditCardFieldsVisible() {
  return document.getElementById("cc_card_input_group").classList.length == 0;
}

function areLastchriftFieldsVisible() {
  return document.getElementById("ec_card_input_group").classList.length == 0;
}

</script>